#contact{
    width: 100%;
    height: 10%;
    background: #e3f0ed;
}


.con-box{
    display: inline-block;
}

.info{
    padding: 35px;
    height: 100%;
    width: 50%;
    /* width: 25%; */
    /* margin: 5%; */
    /* padding: 2rem 2rem 0 2rem; */
    background: #e3f0ed;
}
.con-form{
    width: 10%; 
}


h2, .form input, .form textarea, #sbmt-btn{
    display: block;
    border: none;

    width: 95%;
    padding: 1%;
}

::placeholder{
    color: #000000;
}

.con-form h2{
    text-align: center;
    color: #000000;
}


@media (max-width:1024px){
    #contact{
        width: 100%;

        margin: 0;
        background: none;
    }
    .info, .con-form{

        width: 100%;
        height: 100%;
}