* {

  margin: 0;

}

h1 {
  font-size: 25px;
}

p {
  font-family: 'Lato', sans-serif;
}
.nav__links
a:hover,
a:focus {
  background-color: #6a6a6a;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #1a1a1a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
} 

.cta {
  color: black;
  padding: 9px 25px;
  background-color: rgb(255 255 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
 
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 20px;
  font-size: 30px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  background-color: #2a2a2a;

}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Header */

@media only screen and (max-width: 1000px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

  body {
    font-family: 'Montserrat', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .intro p {
    font-size: 30px;
    color: #000000;
    margin: 0;
  }
  
  .intro button {
    width: 170px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
}

.button {
    width: 141px;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffb700;
    border: none;
}

.button:hover {background-color: #525252}

  .wrapped {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 50px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
  
  .container .slicing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container .slicing .slicing-heading {
    font-size: 30px;
    color: #333333;
    margin: 10px 0;
  }

  .columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
  }

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 30px;
    /*padding-right: 20px;
    padding-left: 100px;*/
    padding-top: 37px;
    padding-bottom: 50px;
}
.column2 {
    float: left;
    width: 50%;
    padding: 30px;
    /*padding-right: 20px;
    padding-left: 100px;*/
    padding-top: 37px;
    padding-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  @media screen and (max-width: 900px) {
    .column,
    .column2
    .container {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
    }
  }

  /* Logo */

  @media all and (max-width:480px) {

    img {display:block;margin:0 auto;}
}

  /* CSS for footer */
  
  .footer-dark {
    padding: 45px;
    padding-left: 110px;
    padding-right: 110px;
    background-color: #1a1a1a;
  }